body {
  background-color: #F4F4F4;
}

.navbar-right {
  margin: 0;
}

.secondToolbar {
  width: 100%;
  height: 50px;
  background-color: #FAFAFA;
  border-bottom: 1px solid #E5E5E5;
}

.btnGridOptions {
  height: 50px;
  width: 50px;

}

.btnGridOptions img {
  height: 30px;
  width: 30px;
  margin-top: 10px;
}

.dropdown-menu {
  min-width: 175px;
  padding: 5px;
}

.dropdown-menu img {
  float: left;
  margin: 5px;
  cursor: pointer;
}

.card {
  margin: 0 15px 30px 15px;
}

.card:hover .typeOfAuthor {
  display: inline;
}

.contentViewHome {
  padding: 30px 30px 40px 30px;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.wrapperBig {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.imageContainerShot {
  overflow: hidden;
  max-width: 100%;
}

.imageContainerShot img {
  height: 150px;
  width: 200px;
  z-index: 2;
}

.imageContainerShot a {
  height: 150px;
  width: 200px;
}

.imageContainerShot:hover .contentImg {
  display: block;
  z-index: 1;
  background-color: rgba(255,255,255,0.96);
}

.cardShotBigWithIcons .imageContainerShot img {
  height: 290px;
  width: 390px;
  z-index: 2;
}

.cardShotBigWithIcons .imageContainerShot:hover .contentImg {
  display: block;
  z-index: 1;
  background-color: rgba(255,255,255,0.96);
}

.cardShotBigWithIcons .contentImg {
  display: none;
  height: 290px;
  width: 390px;
  padding: 10px;
  position: absolute;
}

.cardShotBigWithIcons .contentImg p {
  font-size: 13px;
  max-height: 180px;
}

.cardShotBigWithIcons .contentImg span {
  color: #777;
  font-size: 12px;
  position: absolute;
  bottom: 10px;
}


.contentImg {
  display: none;
  height: 150px;
  width: 200px;
  padding: 10px;
  position: absolute;
}
.contentImg p {
  color: #777;
  font-size: 11px;
  line-height: 1.4;
  max-height: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contentImg strong {
  float: left;
  color: #444;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contentImg span {
  color: #777;
  font-size: 11px;
  position: absolute;
  bottom: 10px;
}

.cardShot {
  height: 190px;
  width: 220px;
  padding: 10px;
  background-color: #FFF;
}

.cardShotBigWithIcons {
  width: 400px;
  height: 330px;
}

.optionsRight {
  padding: 0;
  margin: 0;
}

.optionsRight ul li {
  width: auto;
  list-style: none;
  float: right;
  margin-left: 12px;
  font-size: 11px;
  line-height: 1;
  color: #aaa;
}

.cardShotOffIcons .optionsRight {
  display: none;
}

.cardShotOffIcons {
  width: 400px;
  height: 310px;
}

.cardShotOffIcons .imageContainerShot img {
  height: 290px;
  width: 390px;
  z-index: 2;
}

.cardShotOffIcons .imageContainerShot:hover .contentImg {
  display: block;
  z-index: 1;
  background-color: rgba(255,255,255,0.96);
}

.cardShotOffIcons .contentImg {
  display: none;
  height: 290px;
  width: 390px;
  padding: 10px;
  position: absolute;
}

.cardShotOffIcons .contentImg p {
  font-size: 13px;
  max-height: 200px;
}

.cardShotLittleOffIcons .optionsRight {
  display: none;
}

.cardShotLittleOffIcons {
  height: 170px;
  width: 220px;
}

.visible span:first-child {
  background-image: url(../img/icons/visible.png);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  padding-left: 15px;
  color: #aaa;
}

.comment span:first-child {
  background-image: url(../img/icons/comment.png);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  padding-left: 15px;
  color: #aaa;
}

.like a:first-child {
  background-image: url(../img/icons/like.png);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  padding-left: 15px;
  color: #aaa;
  cursor: pointer;
}

.optionsRight a {
  color: #aaa;
  text-decoration: none;
}

.nameOfAutor {
  font-size: 14px;
  padding: 8px;
}

.typeOfAuthor {
  display: none;
  font-size: 12px;
  background-color: #cacaca;
  padding: 0 5px;
  color: #FFF;
  border-radius: 2px;
  text-decoration: none;
}

.typeOfAuthor:hover {
  background-color: #0FB6E3;
  color: #FFF;
  text-decoration: none;
}

.author:hover {
  text-decoration: none;
}

.author {
  background-repeat: no-repeat;
  background-size: 15px 15px;
  padding-left: 18px;
}
