<div class="firstToolbar">

  <div ng-click="init()">
    Shots
  </div>

  <div class="input-group">

    <input type="text" class="form-control" placeholder="Search" ng-init="textSearch = ''"
    ng-model="textSearch" my-enter="renderSearch(textSearch)">

  </div>

</div>

<div class="secondToolbar">

  <div class="iconChangeGrid">

    <div class="btn-group">
      <div data-toggle="dropdown">
        <img  src="img/icons/gridOption.png" alt="Opções de layout">
      </div>

      <ul class="dropdown-menu">
        <li><img ng-click="sizeCard(1)" src="img/icons/gridOption.png" alt=""></li>
        <li><img ng-click="sizeCard(2)" src="img/icons/gridOption.png" alt=""></li>
        <li><img ng-click="sizeCard(3)" src="img/icons/gridOption.png" alt=""></li>
        <li><img ng-click="sizeCard(4)" src="img/icons/gridOption.png" alt=""></li>
      </ul>
    </div>

  </div>

</div>

<div class="container-fluid contentViewHome">

  <div class="wrapper" ng-class="{'wrapperBig': cardShotBigWithIcons == true}">

    <div class="card" ng-repeat="shot in listOfShots" data-toggle="modal" data-target=".bs-example-modal-lg">

      <div class="cardShot" ng-class="{'cardShotBigWithIcons': cardShotBigWithIcons == true,
      'cardShotLittleOffIcons': cardShotLittleOffIcons == true,
      'cardShotOffIcons': cardShotOffIcons == true}">

        <div class="imageContainerShot" ng-click="sendToModal(shot)">

          <a>

            <div class="contentImg">

              <strong>{{shot.title}}</strong><br>

              <p ng-bind-html="deliberatelyTrustDangerousSnippet(shot.description)"></p>

              <span>{{shot.updated_at | date:'mediumDate'}}</span>

            </div>

          </a>

          <a>

            <img src="{{shot.images.normal}}" alt="">

          </a>

        </div>

        <div class="optionsRight">

          <ul>

            <li class="like">
              <a ng-click="login()"></a>
              <a>{{shot.likes_count}}</a>
            </li>

            <li class="comment">
              <span>{{shot.comments_count}}</span>
            </li>

            <li class="visible">
              <span>{{shot.views_count}}</span>
            </li>
          </ul>

        </div>

      </div>

      <div ng-if="shot.team != null && cardShotLittleOffIcons == false && cardShotOffIcons == false" class="nameOfAutor">

        <a class="author" style="background-image: url({{shot.team.avatar_url}})">

          {{shot.team.name}}

        </a>

        <a class="typeOfAuthor">

          {{shot.team.type}}

        </a>

      </div>

      <div ng-if="shot.team == null && cardShotLittleOffIcons == false && cardShotOffIcons == false" class="nameOfAutor">

        <a class="author" style="background-image: url({{shot.user.avatar_url}})">

          {{shot.user.name}}

        </a>

        <a class="typeOfAuthor">

          {{shot.user.type}}

        </a>

      </div>

    </div>

  </div>

  <div align="center">
    <button ng-click="moreShots()" type="button" class="btn btn-primary btn-lg">Mais shots</button>
  </div>


</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">

  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

      </div>

      <div class="paddingAll">

        <div class="headerModal">

          <img src="{{shotOfContentModal.user.avatar_url}}" alt="">

          <div class="nameTeamAndUser">
            <h3>{{shotOfContentModal.title}}</h3>
            <p>by <a>{{shotOfContentModal.user.name}}</a> on {{shotOfContentModal.updated_at | date:'mediumDate'}}</p>
          </div>

        </div>

        <div class="contentShotModal row">

          <div class="col-md-7">

            <div class="cardImageModal">

              <img src="{{shotOfContentModal.images.hidpi}}" alt="">

            </div>

            <div class="descriptionModal">

              <p ng-bind-html="deliberatelyTrustDangerousSnippet(shotOfContentModal.description)"></p>

            </div>

            <div class="commentsModal">

              <h4>{{commentsModal.length}} Responses</h4>

              <div class="usersComment" ng-repeat="comment in commentsModal">

                <div>
                  <img src="{{comment.user.avatar_url}}" alt="">
                  <div id="userComment">
                    <p>{{comment.user.name}}</p>
                    <p ng-bind-html="deliberatelyTrustDangerousSnippet(comment.body)"></p>
                    <p>{{comment.updated_at | date:'mediumDate'}}</p>
                  </div>

                </div>

              </div>

            </div>

          </div>

          <div class="col-md-5">

            <div class="likeModal itensRight">

              <a>Like?</a>

              <span>{{shotOfContentModal.likes_count}} likes</span>

            </div>

            <div class="shareModal itensRight">

              <a>Share</a>

              <span>{{shotOfContentModal.views_count}} views</span>

            </div>

            <div class="bucketModal itensRight">

              <a>Share</a>

              <span>{{shotOfContentModal.buckets_count}} buckets</span>

            </div>

            <div class="moreFromAuthor">

              <div>
                <h4>More from {{shotOfContentModal.user.name}}</h4>
                <img src="img/icons/plus.png" alt="Mais itens">
              </div>

              <div id="moreCards">

              </div>

            </div>

            <div class="tagsModal">

              <h4>Tags</h4>

              <div>
                <a ng-repeat="tag in shotOfContentModal.tags">{{tag}} </a>
              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
